* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MiLanTing;
    src: url(../fonts/MiLanTing-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "MiLanTing";
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#box {
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.meBox {
    text-align: center;
}

.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(../images/YuKongA.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.65s;
}

.headPhoto:hover {
    transform: rotate(360deg);
}

.meBox-title {
    position: relative;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 0 #000;
    border-right: 0.13em solid;
    width: 8ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.8s steps(25, end), blink-caret 0.5s step-end infinite alternate;
    margin: 0 auto;
    transition: 0.3s;
}

.meBox-title .fg1 {
    width: 80%;
    height: 2.5px;
    margin: 0 0 35px 10%;
}

.meBox-title .fg2 {
    width: 10%;
    height: 2.5px;
    background-image: linear-gradient(160deg, #b100ff 20%, #00b3ff 80%);
    border-radius: 50px;
    margin: 20px auto 40px auto;
}

.meBox-text {
    width: 115px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border: solid 1px #fff;
    border-radius: 8px;
    transition: background-color 0.35s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.meBox-text:hover {
    background-color: rgb(255, 255, 255, 0.25);
}

#footer {
    clear: both;
    display: block;
    margin: 0px auto;
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    bottom: 15px;
}