* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(./Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: #3498db;
}

.meBox {
    width: 23rem;
    height: 27rem;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.meBox:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    background-color: rgba(255, 255, 255, 0.55);
}

.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(./YuKongA.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -4rem;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.meBox:hover .headPhoto {
    transform: rotate(360deg);
    transition: 0.65s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.meBox-title {
    position: relative;
    top: -8%;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    font-size: 1.2rem;
    border-right: 0.125em solid;
    width: 7.7ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(20, end), blink-caret 0.55s step-end infinite alternate;
    margin: 0 auto;
    transition: 0.3s;
}

.meBox-title .fg {
    width: 80%;
    height: 2.5px;
    background-image: linear-gradient(to left, #3498db, #2980b9);
    margin: 35px 0 0 10%;
}

@keyframes meBox-text {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.meBox-text {
    width: 80%;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    animation-name: meBox-text;
    animation-duration: 1.35s;
    animation-fill-mode: forwards;
    margin: 0 10%;
}

@keyframes meBox-Button1 {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes meBox-Button2 {
    0% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0);
    }
}

.meBox-Button1 a {
    float: left;
    margin-left: 12.5%;
    line-height: 55px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    animation-name: meBox-Button1;
    animation-duration: 1.35s;
    animation-fill-mode: forwards;
}

.meBox-Button1 a:hover {
    font-size: 1.1rem;
    margin-left: 12%;
    color: #3498db;
}

.meBox-Button2 a {
    float: right;
    margin-right: 12.5%;
    line-height: 55px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    animation-name: meBox-Button2;
    animation-duration: 1.35s;
    animation-fill-mode: forwards;
}

.meBox-Button2 a:hover {
    font-size: 1.1rem;
    margin-right: 12%;
    color: #3498db;
}


#footer {
    clear: both;
    display: block;
    margin: 0px auto;
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 15px;
}

@media screen and (max-width: 480px) {

    .meBox {
        width: 80%;
        margin: 120px auto 100px;
    }
    
}