* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "MiSans VF", sans-serif;
}

body {
  background-image: url(/Background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

#main {
  height: max-content;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 2.5rem;
}

.center-flexbox {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

p {
  color: #fff;
}

@keyframes floatUp {
  0% {
    transform: translateY(100px) scale(1.02);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}